<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:fragment="main-fragment(title)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>
    <link rel="stylesheet" th:href="@{/cms/css/main.css}">
</head>
<body>
    <div class="header"></div>
    <div class="main">
        <div class="main__nav">
            <div class="main__nav--link"><a th:href=""> </a></div>
            <div class="main__nav--link"><a th:href=""> </a></div>
            <div class="main__nav--link"><a th:href=""> </a></div>
        </div>
        <div class="main__content">Contend</div>

    </div>
    <div class="footer"></div>

</body>
</html>