spring:
  application:
    name: e-commerce
  datasource:
    url: jdbc:mysql://localhost:3306/ecommerce
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update

admin:
  username: admin
  password: admin

server:
  port: 8082

logging:
  level:
    root: INFO
    org.hibernate: ERROR
    org.springframework.security: OFF

storage:
  root:
    folder:
      avatar: D:\\Backend-Final-T3H\\E-Commerce\\storage\\avatar\\
      product: D:\\Backend-Final-T3H\\E-Commerce\\storage\\images-product\\

  avatar:
    relative:
      path: http://localhost:8082/file/avatar/

  product:
    relative:
      path: http://localhost:8082/file/images-product/

#  storage.root.folder_avatar=D:\\T3h\\T3H - UTC_Insurance_claim\\insurance-claims\\storage\\avatar\\
#  storage.avatar.relative.path=http://localhost:8080/file/avatar/
#
#  storage.root.folder_product=D:\\T3h\\T3H - UTC_Insurance_claim\\insurance-claims\\storage\\images-product\\
