<header class="main-header" th:fragment="header">
    <div class="top-bar">
        <div class="left-section">
            <span><a href="./Seller-HomePage/index.html">Kênh Người Bán</a></span>
            <span><a href="#">Trở thành Người bán Shopee</a></span>
            <span><a href="#">Tải ứng dụng</a></span>
            <span><a href="https://www.instagram.com/_thawngg/">Kết nối</a></span>
        </div>
        <div class="right-section">
            <span><a href="#">Thông Báo</a></span>
            <span><a href="#">Hỗ Trợ</a></span>
            <span class="language-selector" style="width: 77px;">
                    <a href="#">Tiếng Việt  <i class="arrow-down"></i></a>
                    <div class="language-dropdown">
                        <span class="language-option" data-lang="vi">Tiếng Việt</span>
                        <span class="language-option" data-lang="en">English</span>
                    </div>
                </span>
        </div>

    </div>

    <div class="header-container">
        <!-- Logo Section -->
        <div class="logo">
            <img src="./image/logo-thoi-trang.webp" alt="Dola Fashion Accessories">
        </div>

        <!-- Search Bar -->
        <div class="search-bar">
            <input type="text" placeholder="Bạn muốn tìm gì?">
            <button><i class="fa fa-search"></i></button>
            <div class="suggestions">
                <span class="scroll-to-products">Giày cao gót</span>
                <span class="scroll-to-products">Giày búp bê</span>
                <span class="scroll-to-products">Túi xách</span>
                <span class="scroll-to-products">Mắt kính</span>
            </div>
        </div>

        <!-- User Info and Cart Section -->
        <div class="user-info">
            <div class="user-details">
                <i class="fa fa-user" style="color: #ff6f61"></i>
                <span style="color: #ff6f61; margin-top: 9px; position: absolute; left: 50px;" id="span1">Thông tin</span>
                <span>Tài khoản</span>

                <!-- Vùng dropdown-container -->
                <div class="dropdown-container">
                    <i class="fa fa-caret-down" style="color: black; background-color: white; width: 20px; margin-top: 22px; font-size: 15px; margin-left: 0px;"></i>
                    <!-- Dropdown menu -->
                    <div class="dropdown-menu">
                        <a href="#">Đăng nhập</a>
                        <a href="#">Đăng ký</a>
                    </div>
                </div>
            </div>

            <div class="wishlist">
                <i class="fa fa-heart" style="color: #ff6f61"></i>
                <span style="color: #ff6f61">Yêu thích</span>
                <span style="margin-top: 22px; margin-right: 3px; color: #e86868; font-size: 15px;" >0 </span> <span>Sản phẩm</span>
            </div>

            <div class="cart">
                <i class="fa fa-shopping-bag" style="color: #ff6f61"></i>
                <span style="color: #ff6f61">Giỏ hàng</span>
                <span style="margin-top: 22px; margin-right: 3px; color: #e86868; font-size: 15px;" >0 </span> <span>Sản phẩm</span>
            </div>
        </div>




    </div>

    <!-- Navigation Menu -->
    <nav class="navigation">
        <!-- Icon hamburger cho menu -->
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>

        <ul id="menu-list">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Sản phẩm</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Tin tức</a></li>
            <li><a href="#">Tin khuyến mãi</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Câu hỏi thường gặp</a></li>
            <li><a href="#">Hệ thống cửa hàng</a></li>
        </ul>
    </nav>

</header>