/* Reset CSS */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container h2{
    color: coral;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header .nav {
    text-align: right;
}

.header .nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.header .nav a.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.about {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.about h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
    text-align: center;
}

.team {
    padding: 50px 0;
}

.team h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.team-member {
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.team-member h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 16px;
    color: #666;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
